<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{.title}}</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/180x180.png">
    <link rel="stylesheet" href="/static/css/lib/highlight-theme-agate.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script defer src="/static/js/lib/vue3.js"></script>
    <script defer src="/static/js/lib/vue-demi.js"></script>
    <script defer src="/static/js/lib/vueuse-shared.min.js"></script>
    <script defer src="/static/js/lib/vueuse-core.min.js"></script>
    <script defer src="/static/js/lib/naive-ui.min.js"></script>
    <script defer src="/static/js/lib/iconify-icon.min.js"></script>
    <script defer src="/static/js/lib/vue-router-v4.js"></script>
    <script defer src="/static/js/lib/markdown-it.min.js"></script>
    <script defer src="/static/js/lib/highlight.min.js"></script>
    <script defer src="/static/js/lib/uuidv4.min.js"></script>
    <script defer src="/static/js/lib/pinia.iife.js"></script>
    <script defer src="/static/js/lib/tailwindcss-typography.js"></script>
    <script defer type="module" src="/static/js/index.js"></script>
</head>

<body>
    <div id="app">
        <div class="loading-wrap">
            <div class="balls">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <script type="text/x-template" id="layout">
        {{template "layout"}}
    </script>

    <script type="text/x-template" id="chat">
        {{template "chat"}}
    </script>
</body>

</html>