{{define "layout"}}
<n-config-provider
  class="h-full"
  :theme="isDark ? darkTheme : null"
  :theme-overrides="globalTheme"
>
  <n-layout :class="getContainerClass" has-sider>
    <n-layout-sider
      class="z-50"
      :collapsed="collapsed"
      :collapsed-width="0"
      :width="260"
      collapse-mode="transform"
      position="absolute"
      :style="getMobileClass"
      @update-collapsed="handleUpdateCollapsed"
    >
      <div class="flex flex-col w-full h-full bg-gray-900 text-white p-2">
        <div class="mb-1 flex flex-row gap-2">
          <a
            @click="newView"
            class="flex py-3 px-3 items-center gap-3 transition-colors duration-200 text-white cursor-pointer text-sm rounded-md border border-white/20 hover:bg-gray-500/10 mb-1 flex-shrink-0 flex-grow"
          >
            <iconify-icon
              icon="material-symbols:add"
              width="1rem"
              height="1rem"
            ></iconify-icon>
            New chat
          </a>

          <n-tooltip v-if="!isMobile" trigger="hover" placement="right">
            <template #trigger>
              <a
                @click="collapsed = true"
                class="flex p-3 gap-3 transition-colors duration-200 text-white cursor-pointer text-sm rounded-md border border-white/20 hover:bg-gray-500/10 h-11 w-11 flex-shrink-0 items-center justify-center"
              >
                <svg
                  stroke="currentColor"
                  fill="none"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="h-4 w-4"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
                  <line x1="9" y1="3" x2="9" y2="21"></line>
                </svg>
              </a>
            </template>
            隐藏侧栏
          </n-tooltip>
        </div>

        <n-menu
          class="scrollbar-trigger h-full overflow-y-auto"
          :value="activeMenu"
          :options="chatMenuList"
          :indent="12"
        ></n-menu>

        <div class="border-t border-white/20 pt-2">
          <button
            class="flex w-full items-center gap-2.5 rounded-md py-3 px-3 text-sm text-red-500 transition-colors duration-200 hover:bg-gray-800 group-ui-open:bg-gray-800"
            @click="showPayModal"
          >
            <iconify-icon
              icon="octicon:sponsor-tiers-16"
              width="1rem"
              height="1rem"
            >
            </iconify-icon>
            Sponsor
          </button>

          <n-config-provider :theme-overrides="popselectTheme">
            <n-popselect
              :options="menuList"
              :show="showMenuListSelect"
              trigger="manual"
              width="trigger"
            >
              <button
                @click="showMenuListSelect = !showMenuListSelect"
                class="flex w-full items-center justify-center gap-2.5 rounded-md py-3 px-3 text-sm transition-colors duration-200 hover:bg-gray-800 group-ui-open:bg-gray-800"
              >
                <iconify-icon
                  icon="eva:person-outline"
                  width="1.25rem"
                  height="1.25rem"
                >
                </iconify-icon>
                <div
                  class="grow overflow-hidden text-ellipsis whitespace-nowrap text-left text-white"
                >
                  {% user.name || user.username %}
                </div>
                <iconify-icon
                  icon="ph:dots-three-bold"
                  width="1rem"
                  height="1rem"
                >
                </iconify-icon>
              </button>
            </n-popselect>
          </n-config-provider>
        </div>
      </div>
    </n-layout-sider>

    <template v-if="isMobile">
      <div
        v-show="!collapsed"
        class="fixed inset-0 z-40 bg-black/40"
        @click="handleUpdateCollapsed"
      ></div>
    </template>

    <n-layout-content class="h-full">
      <div class="flex flex-col w-full h-full">
        <header
          v-if="isMobile"
          class="sticky top-0 z-10 flex items-center border-b border-white/20 bg-gray-800 pl-1 pt-1 text-gray-200 sm:pl-3 md:hidden"
        >
          <button
            class="-ml-0.5 -mt-0.5 inline-flex h-10 w-10 items-center justify-center rounded-md hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white dark:hover:text-white"
            @click="handleUpdateCollapsed"
          >
            <iconify-icon
              width="1.5rem"
              height="1.5rem"
              icon="ri:align-justify"
            ></iconify-icon>
          </button>
          <h1
            class="flex-1 text-center text-base font-normal overflow-hidden text-ellipsis whitespace-nowrap"
            @click="onScrollToTop"
          >
            {% chatData[$route.params.id]?.chatList[0]?.content %}
          </h1>
          <button @click="newView" class="px-3">
            <iconify-icon
              icon="material-symbols:add"
              width="1.5rem"
              height="1.5rem"
            >
            </iconify-icon>
          </button>
        </header>

        <main class="flex-1 overflow-hidden dark:bg-gray-800">
          <div
            v-if="collapsed && !isMobile"
            class="absolute left-2 top-2 z-10 md:inline-block"
            data-projection-id="4"
            style="opacity: 1"
          >
            <n-tooltip trigger="hover">
              <template #trigger>
                <button
                  @click="collapsed = false"
                  class="flex p-3 items-center gap-3 transition-colors duration-200 text-white cursor-pointer text-sm rounded-md border bg-white dark:bg-gray-800 border-black/10 dark:border-white/20 hover:bg-gray-50 dark:hover:bg-gray-700 h-11"
                >
                  <svg
                    stroke="currentColor"
                    fill="none"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="h-4 w-4 text-black dark:text-white"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="3"
                      y="3"
                      width="18"
                      height="18"
                      rx="2"
                      ry="2"
                    ></rect>
                    <line x1="9" y1="3" x2="9" y2="21"></line>
                  </svg>
                </button>
              </template>
              显示侧栏
            </n-tooltip>
          </div>

          <div
            v-if="!$route.params.id"
            class="px-2 w-full flex flex-col py-2 md:py-6 sticky top-0"
          >
            <div
              class="relative flex flex-col items-stretch justify-center gap-2 sm:items-center"
            >
              <div
                ref="switchModelRef"
                class="relative flex rounded-xl bg-gray-100 p-1 text-gray-900 dark:bg-gray-900"
              >
                <ul class="flex w-full list-none gap-1 sm:w-auto">
                  <li
                    v-for="m in models"
                    class="w-full"
                    @mouseenter="showPopover = true;switchModel.hover = m.value;"
                    @mouseleave="showPopover = false"
                    @click="model = m.value"
                  >
                    <button
                      type="button"
                      :class="user.role === 'guest' ? 'w-full' : 'w-full cursor-pointer'"
                      :disabled="m.value === 'gpt-4' && user.role === 'guest'"
                    >
                      <div
                        :class="model === m.value ? 'border-black/10 bg-white text-gray-900 shadow-[0_1px_7px_0px_rgba(0,0,0,0.06)] hover:!opacity-100 dark:border-[#4E4F60] dark:bg-gray-700 dark:text-gray-100' : ''"
                        class="relative flex w-full items-center justify-center gap-1 rounded-lg border py-3 outline-none transition-opacity duration-100 sm:w-auto sm:min-w-[148px] md:gap-2 md:py-2.5 border-transparent text-gray-500 hover:text-gray-800 hover:dark:text-gray-100"
                      >
                        <span class="relative max-[370px]:hidden">
                          <svg
                            v-if="m.value === 'gpt-4'"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16"
                            fill="none"
                            :class="model === m.value ? 'text-[rgba(171,104,255,1)]' : ''"
                            class="h-4 w-4 transition-colors"
                            width="16"
                            height="16"
                            stroke-width="2"
                          >
                            <path
                              d="M12.784 1.442a.8.8 0 0 0-1.569 0l-.191.953a.8.8 0 0 1-.628.628l-.953.19a.8.8 0 0 0 0 1.57l.953.19a.8.8 0 0 1 .628.629l.19.953a.8.8 0 0 0 1.57 0l.19-.953a.8.8 0 0 1 .629-.628l.953-.19a.8.8 0 0 0 0-1.57l-.953-.19a.8.8 0 0 1-.628-.629l-.19-.953h-.002ZM5.559 4.546a.8.8 0 0 0-1.519 0l-.546 1.64a.8.8 0 0 1-.507.507l-1.64.546a.8.8 0 0 0 0 1.519l1.64.547a.8.8 0 0 1 .507.505l.546 1.641a.8.8 0 0 0 1.519 0l.546-1.64a.8.8 0 0 1 .506-.507l1.641-.546a.8.8 0 0 0 0-1.519l-1.64-.546a.8.8 0 0 1-.507-.506L5.56 4.546Zm5.6 6.4a.8.8 0 0 0-1.519 0l-.147.44a.8.8 0 0 1-.505.507l-.441.146a.8.8 0 0 0 0 1.519l.44.146a.8.8 0 0 1 .507.506l.146.441a.8.8 0 0 0 1.519 0l.147-.44a.8.8 0 0 1 .506-.507l.44-.146a.8.8 0 0 0 0-1.519l-.44-.147a.8.8 0 0 1-.507-.505l-.146-.441Z"
                              fill="currentColor"
                            ></path>
                          </svg>

                          <svg
                            v-else-if="m.value.includes('gemini')"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 256 256"
                            fill="none"
                            :class="model === m.value ? 'text-sky-500' : ''"
                            class="h-4 w-4 transition-colors"
                            width="16"
                            height="16"
                            stroke-width="2"
                          >
                            <g fill="currentColor">
                              <path
                                d="m226.76 135.48l-63.45 23.07a8 8 0 0 0-4.76 4.76l-23.07 63.45a8 8 0 0 1-15 0l-23.03-63.45a8 8 0 0 0-4.76-4.76l-63.45-23.07a8 8 0 0 1 0-15l63.45-23.03a8 8 0 0 0 4.76-4.76l23.07-63.45a8 8 0 0 1 15 0l23.07 63.45a8 8 0 0 0 4.76 4.76l63.45 23.07a8 8 0 0 1-.04 14.96"
                                opacity=".2"
                              />
                              <path
                                d="m229.5 113l-63.43-23L143 26.5a16 16 0 0 0-30 0L90 89.93L26.5 113a16 16 0 0 0 0 30l63.43 23L113 229.5a16 16 0 0 0 30 0l23.07-63.44L229.5 143a16 16 0 0 0 0-30m-68.93 38a16 16 0 0 0-9.54 9.54L128 223.9l-23-63.33a16 16 0 0 0-9.57-9.57L32.1 128l63.33-23a16 16 0 0 0 9.57-9.57l23-63.33l23 63.33a16 16 0 0 0 9.54 9.54l63.33 23Z"
                              />
                            </g>
                          </svg>

                          <svg
                            v-else
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16"
                            fill="none"
                            :class="model === m.value ? 'text-[rgba(25,195,125,1)]' : ''"
                            class="h-4 w-4 transition-colors"
                            width="16"
                            height="16"
                            stroke-width="2"
                          >
                            <path
                              d="M9.586 1.526A.6.6 0 0 0 8.553 1l-6.8 7.6a.6.6 0 0 0 .447 1h5.258l-1.044 4.874A.6.6 0 0 0 7.447 15l6.8-7.6a.6.6 0 0 0-.447-1H8.542l1.044-4.874Z"
                              fill="currentColor"
                            ></path>
                          </svg>
                        </span>
                        <span
                          class="truncate text-sm font-medium md:pr-1.5 pr-1.5"
                          >{% m.label %}</span
                        >
                        <svg
                          v-if="m.disabled || (m.value === 'gpt-4' && user.role === 'guest')"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                          fill="currentColor"
                          aria-hidden="true"
                          stroke-width="2"
                          class="ml-0.5 h-4 w-4 transition-colors sm:ml-0 group-hover/options:text-gray-500 !text-gray-500 -ml-2 group-hover/button:text-brand-purple"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M12 1.5a5.25 5.25 0 00-5.25 5.25v3a3 3 0 00-3 3v6.75a3 3 0 003 3h10.5a3 3 0 003-3v-6.75a3 3 0 00-3-3v-3c0-2.9-2.35-5.25-5.25-5.25zm3.75 8.25v-3a3.75 3.75 0 10-7.5 0v3h7.5z"
                            clip-rule="evenodd"
                          ></path>
                        </svg>
                      </div>
                    </button>
                  </li>
                </ul>

                <n-popover
                  :show="showPopover"
                  trigger="manual"
                  :width="switchModel.width"
                  :x="switchModel.x"
                  :y="switchModel.y"
                  :show-arrow="false"
                  placement="bottom-start"
                  raw
                >
                  <div
                    class="group/options flex flex-col rounded-xl border border-gray-100 bg-white text-left shadow-xxs dark:text-gray-100 dark:bg-gray-900 dark:border-gray-800 dark:shadow-xs mx-2 sm:mx-1 overflow-hidden"
                  >
                    <div
                      class="px-5 flex gap-2.5 flex-col py-4 whitespace-pre-line text-sm sm:text-base"
                    >
                      <span class="block dark:text-white text-gray-900">
                        {% models.find(i => i.value === switchModel.hover).desc
                        %}
                      </span>
                      <span class="block text-xs text-gray-500">
                        {% switchModel.hover === 'gpt-4' ? '有限体验' :
                        '目前免费使用' %}
                      </span>
                    </div>
                  </div>
                </n-popover>
              </div>
            </div>
          </div>

          <router-view name="chat"></router-view>
        </main>

        <footer
          class="absolute bottom-0 left-0 w-full border-t md:border-t-0 dark:border-white/20 md:border-transparent md:dark:border-transparent md:bg-vert-light-gradient bg-white dark:bg-gray-800 md:!bg-transparent dark:md:bg-vert-dark-gradient pt-2"
        >
          <div
            class="stretch mx-2 flex flex-row gap-3 last:mb-2 md:mx-4 md:last:mb-6 lg:mx-auto lg:max-w-2xl xl:max-w-3xl"
          >
            <div class="relative flex h-full flex-1 items-stretch md:flex-col">
              <div
                v-if="$route.params.id && !isMobile"
                class="h-full flex ml-1 md:w-full md:m-auto md:mb-4 gap-0 md:gap-2 justify-center"
              >
                <div class="grow flex items-center">
                  <n-popover
                    class="border dark:text-[rgba(217,217,227,1)] dark:!bg-[rgba(52,53,65)] dark:hover:text-[rgba(217,217,227,1)] dark:hover:bg-[rgba(64,65,79,1)]"
                    trigger="click"
                    v-if="user.role === 'admin' || user.m > 0"
                  >
                    <template #trigger>
                      <div
                        class="border bg-white text-xl text-[rgb(51,54,57)] hover:bg-[rgba(236,236,241,1)] dark:border-[rgba(86,88,105,1)] dark:text-[rgba(217,217,227,1)] dark:bg-[rgba(52,53,65)] dark:hover:text-[rgba(217,217,227,1)] dark:hover:bg-[rgba(64,65,79,1)] rounded-full w-12 h-[34px] cursor-pointer flex justify-center items-center"
                      >
                        <iconify-icon icon="octicon:gear-24"></iconify-icon>
                      </div>
                    </template>
                    <div class="w-full">
                      <div class="p-3">
                        Context:
                        <n-switch
                          style="margin-left: 45px"
                          v-model:value="chatContext"
                        />
                      </div>
                      <n-divider style="margin: 4px 0px" />
                      <div class="flex flex-row gap-3 p-3">
                        Context Num:
                        <n-slider
                          class="w-20"
                          v-model:value="chatNum"
                          :min="1"
                          :max="10"
                          :step="1"
                        />
                      </div>
                    </div>
                  </n-popover>
                </div>

                <n-config-provider :theme-overrides="buttonTheme">
                  <n-button
                    v-if="runing === 1"
                    @click="handleStop"
                    class="btn-neutral border-0 md:border"
                  >
                    <template #icon>
                      <svg
                        stroke="currentColor"
                        fill="none"
                        stroke-width="1.5"
                        viewBox="0 0 24 24"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="h-3 w-3"
                        height="1em"
                        width="1em"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect
                          x="3"
                          y="3"
                          width="18"
                          height="18"
                          rx="2"
                          ry="2"
                        ></rect>
                      </svg>
                    </template>
                    停止生成
                  </n-button>

                  <n-button
                    v-if="runing === 0"
                    @click="handleRegen"
                    class="btn-neutral border-0 md:border"
                  >
                    <template #icon>
                      <svg
                        stroke="currentColor"
                        fill="none"
                        stroke-width="1.5"
                        viewBox="0 0 24 24"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="h-3 w-3 flex-shrink-0"
                        height="1em"
                        width="1em"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <polyline points="1 4 1 10 7 10"></polyline>
                        <polyline points="23 20 23 14 17 14"></polyline>
                        <path
                          d="M20.49 9A9 9 0 0 0 5.64 5.64L1 10m22 4l-4.64 4.36A9 9 0 0 1 3.51 15"
                        ></path>
                      </svg>
                    </template>
                    重新生成
                  </n-button>
                </n-config-provider>
              </div>
            </div>
          </div>

          <div
            class="w-auto stretch mx-2 flex flex-row gap-3 last:mb-2 md:mx-4 md:last:mb-6 lg:mx-auto lg:max-w-2xl xl:max-w-3xl"
          >
            <div class="relative flex h-full flex-1 items-stretch md:flex-col">
              <div class="relative flex flex-col w-full">
                <n-config-provider :theme-overrides="inputTheme">
                  <n-auto-complete
                    v-model:value="sendMsg"
                    :options="promptOptions"
                    :get-show="getShow"
                    :to="false"
                    :render-label="renderLabel"
                  >
                    <template
                      #default="{ handleInput, handleBlur, handleFocus, value: slotValue }"
                    >
                      <n-input
                        type="textarea"
                        :maxlength="maxTokens"
                        placeholder="发送消息开始交流或键入 “/” 获取prompt"
                        :autosize="{ minRows: 1, maxRows: 8 }"
                        @input="handleInput"
                        @focus="handleFocus"
                        @blur="handleBlur"
                        :value="slotValue"
                        @keypress.enter.prevent="isMobile ? handleShiftEnter($event) : handleSendMsg($event)"
                        @keydown.enter.shift="handleShiftEnter"
                        class="py-[10px] pl-3 pr-10 md:pr-12 flex-grow md:py-4 md:pl-4 relative border border-black/10 !bg-white dark:border-gray-900/50 dark:text-white dark:!bg-gray-700 rounded-xl shadow-[0_0_10px_rgba(0,0,0,0.10)] dark:shadow-[0_0_15px_rgba(0,0,0,0.10)]"
                      >
                      </n-input>
                    </template>
                  </n-auto-complete>

                  <button
                    class="absolute p-1 rounded-md md:bottom-3 md:p-2 md:right-3 dark:disabled:hover:bg-transparent right-2 disabled:text-gray-400 enabled:bg-brand-purple text-white bottom-1.5 transition-colors disabled:opacity-40"
                    @click="handleSendMsg"
                    :disabled="sendMsg === ''"
                    :style="sendMsg && !requesting ? 'background-color: rgb(25, 195, 125);' : ''"
                  >
                    <svg
                      v-if="requesting"
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-12 w-12"
                      :style="isMobile ? 'margin: -12px' : 'margin: -15px'"
                      viewBox="0 0 24 24"
                    >
                      <circle cx="18" cy="12" r="0" fill="currentColor">
                        <animate
                          attributeName="r"
                          begin=".67"
                          calcMode="spline"
                          dur="1.5s"
                          keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8"
                          repeatCount="indefinite"
                          values="0;2;0;0"
                        />
                      </circle>
                      <circle cx="12" cy="12" r="0" fill="currentColor">
                        <animate
                          attributeName="r"
                          begin=".33"
                          calcMode="spline"
                          dur="1.5s"
                          keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8"
                          repeatCount="indefinite"
                          values="0;2;0;0"
                        />
                      </circle>
                      <circle cx="6" cy="12" r="0" fill="currentColor">
                        <animate
                          attributeName="r"
                          begin="0"
                          calcMode="spline"
                          dur="1.5s"
                          keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8"
                          repeatCount="indefinite"
                          values="0;2;0;0"
                        />
                      </circle>
                    </svg>

                    <svg
                      v-else
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 16 16"
                      fill="none"
                      class="h-4 w-4 m-1 md:m-0"
                      stroke-width="2"
                    >
                      <path
                        d="M.5 1.163A1 1 0 0 1 1.97.28l12.868 6.837a1 1 0 0 1 0 1.766L1.969 15.72A1 1 0 0 1 .5 14.836V10.33a1 1 0 0 1 .816-.983L8.5 8 1.316 6.653A1 1 0 0 1 .5 5.67V1.163Z"
                        fill="currentColor"
                      ></path>
                    </svg>
                  </button>
                </n-config-provider>
              </div>
              <div v-if="isMobile && $route.params.id">
                <div
                  class="h-full flex ml-1 md:w-full md:m-auto md:mb-2 gap-0 md:gap-2 justify-center dark:text-gray-300"
                >
                  <button
                    v-if="requesting"
                    @click="handleStop"
                    class="relative border-0 md:border"
                    style="padding: 0.5rem 0.75rem"
                  >
                    <div class="flex w-full gap-2 items-center justify-center">
                      <svg
                        stroke="currentColor"
                        fill="none"
                        stroke-width="2"
                        viewBox="0 0 24 24"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="h-4 w-4"
                        height="1em"
                        width="1em"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect
                          x="3"
                          y="3"
                          width="18"
                          height="18"
                          rx="2"
                          ry="2"
                        ></rect>
                      </svg>
                    </div>
                  </button>
                  <button
                    v-else
                    @click="handleRegen"
                    class="relative border-0 md:border"
                    style="padding: 0.5rem 0.75rem"
                  >
                    <div class="flex w-full gap-2 items-center justify-center">
                      <svg
                        stroke="currentColor"
                        fill="none"
                        stroke-width="2"
                        viewBox="0 0 24 24"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="h-4 w-4 flex-shrink-0"
                        height="1em"
                        width="1em"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <polyline points="1 4 1 10 7 10"></polyline>
                        <polyline points="23 20 23 14 17 14"></polyline>
                        <path
                          d="M20.49 9A9 9 0 0 0 5.64 5.64L1 10m22 4l-4.64 4.36A9 9 0 0 1 3.51 15"
                        ></path>
                      </svg>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div
            class="px-3 pb-3 pt-2 text-center text-xs text-gray-600 dark:text-gray-300 md:px-4 md:pb-6 md:pt-3"
          >
            <span>
              by
              <a
                href="https://github.com/gavintan"
                target="_blank"
                rel="noreferrer"
                class="underline"
              >
                GavinTan
              </a>
              .
            </span>
          </div>
        </footer>
      </div>
    </n-layout-content>
  </n-layout>
</n-config-provider>
{{end}}
